<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <title>Foodify</title>
</head>

<body>
  <header>
    <a id="hamburger" href="#">☰</a>
    <h1 class="header_title">Foodify</h1>
  </header>
  <nav id="drawer">
    <ul class="nav_list">
      <li class="nav_item"><a href="#">Home</a></li>
      <li class="nav_item"><a href="#">Favorite</a></li>
      <li class="nav_item"><a href="https://blog.sincandev.me" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <img src="./images/heros/hero-image_2.jpg" alt="">
  </div>
  <main>

  </main>
</body>

</html>